.schoolDayClosed {
    background-color: rgb(255,196,202);
    color: rgb(255,0,0);
    border: 1px solid rgb(136,136,136);
}
.period {
    border: 1px solid black;
    margin: -1px -15px 0 -15px;
    overflow: hidden;
    line-height: 15px;
    font-size: 11px;

}
.period-class {
    background-color: rgba(150, 190, 234, 0.3);
}
.period-now {
    background-color: rgba(147, 237, 169, 0.3);
}
.displayCalendar {
    max-height: 575px;
    overflow-y: overlay;
    overflow-x: hidden
}
.allDayEvent {
    margin: 0 -15px;
    overflow: hidden;
    line-height: 15px;
    font-size: 11px;
}
.externalCalendarEvent {
    overflow: hidden;
    line-height: 15px;
    font-size: 11px;
    margin: 0 -15px;
    position: absolute;
    width: 100%;
    border: 1px solid black;
}
.period p, .timetable-tooltip p, .externalCalendarEvent p {
    line-height: 15px;
    height: 15px;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
