.timetable p {
    margin: 0;
}
.className {
    color: #c00;
}
.period {
    border-bottom: 1px dashed darkslategrey!important;
}
.DayPickerInput-Overlay {
    z-index: 99;
}
.DayPickerInput input {
    width: 9rem;
}
.specialDay {
    text-align: center;
    min-height: 26em;
    padding-top: 3em;
}