.mobileContent {
    border: 8px solid greenyellow;
    border-radius: 5px;
    padding: 0;
}
.mobileFooter {
    padding: 0;
    background-color: rgba(173,255,47,0.75);
    margin-bottom: -16px;
    border-radius: 5px;
}
.text-charcoal {
    color: #36454F;
    a {
        color: #36454F;
    }
}
.text-tomato {
    background-color: tomato !important;
    color: white !important;
}
.text-black {
    color: black !important;
}
.btn-transparent {
    font-weight: 400;
    background-color: transparent;
    border-color: transparent;
}
.text-counter-zero {
    color: white;
    background-color: grey;
}
