{% trans_default_domain "messages" %}

{% extends 'Default/template.html.twig' %}

{% block content %}
    <div class="container">
    <h3 class="alert alert-primary">You arrived at the base template.</h3>
    </div>
{% endblock content %}
    {% block footer %}{{ parent() }}
        {{ dump() }}
    {% endblock footer %}
