{% trans_default_domain "messages" %}

{% extends 'Default/template.html.twig' %}

{% block content %}
    <h3 class="alert alert-primary text-center">You arrived at the base template.</h3>
{% endblock content %}
{% block footer %}Base Page Footer{% endblock footer %}
